In [31]:
#Python program which accepts the user's first and last name and print them in reverse order
firstname=input("input your first name ")
lastname=input("input your last name ")
print(lastname,firstname)

input your first name aziz
input your last name ben romdhane
ben romdhane aziz

In [33]:
n=input("write number n: ")

tem1=n+n
tem2=n+n+n
n=int(n)
tem1=int(tem1)
tem2=int(tem2)

compt=n+tem1+tem2
print("result is:",compt)

write number n: 5
result is: 615

In [35]:
number=int(input("enter number n: "))
if(n%2==0) :
    print("n is an even number")
else :
    print("n is an odd umber")

enter number n: 7
n is an odd umber

In [38]:
number=int(input("enter number n: "))
print(*[i for i in range(2000, 3201) if not(i%7) and i%5])

enter number n: 555
2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

SyntaxError: invalid syntax (<ipython-input-42-5a092357284f>, line 7)

In [ ]:
# Python Program to Remove Odd Index Characters in a String
s1=input ("enter here: ")
s2=" "
for i in range (0,len(s1)):
    if i%2!=0:
        s2+=s1[i]
print(s2)

In [45]:
val = int(input("Enter value Amount: "))
if(val>0):
    if val<=200:
       discount = val*0.1
    elif val<=500:
        discount=val*0.3
    else:
         discount=0.5 * val

    print("Discount : ",disc)
    print("Net Pay  : ",val-disc)
else:
    print("Invalid Amount")

Enter value Amount: 500
Discount :  20.0
Net Pay  :  480.0